body {
  background: rgb(10, 10, 10);
  background-blend-mode: screen;
}

.asteroids-game-div {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

#gameCanvas {
  display: flex;
  border: 2px solid dimgray;
}
