body {
  background: rgb(20, 20, 20);
  background-blend-mode: screen;
}

.asteroids-game-div {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

#gameCanvas {
  display: flex;
}
