body {
  background: rgb(10, 10, 10);
  background-blend-mode: screen;
}

.asteroids-game-div {
  display: block;
}

.top-menu {
  display: flex;
  justify-content: center;
  width: 804px;
  margin: auto;
  margin-bottom: 0.5%;
}

.div_info {
  width: 604px;
  outline: none;
  border: 0;
  background: rgb(10, 10, 10);
  color: gray;
  text-align: left;
  font-size: 100%;
  font-weight: bold;
}

.top-menu #btn_sound,
.top-menu #btn_music,
.top-menu #btn_center_dot,
.top-menu #btn_collision_bounding {
  width: 50px;
  padding: 3px;
  outline: none;
  border: 0;
  background: rgb(10, 10, 10);
  color: gray;
  font-size: 14px;
  text-align: right;
}

.top-menu button:active,
.top-menu button:focus {
  outline: none;
  border: 0;
}

#gameCanvas {
  display: flex;
  margin: auto;
  border: 2px solid dimgray;
}

.off {
  color: dimgray;
}
.on {
  color: rgb(245, 245, 245);
}

.fa-volume-up {
  color: rgb(245, 245, 245);
}

.on:hover,
.off:hover,
.fa-volume-up:hover,
.fa-volume-mute:hover,
.fa-music:hover,
.fa-dot-circle:hover,
.fa-expand:hover {
  outline: none;
  border: 0;
  color: gold;
}
